{{yield}}

<div class="profile-modal {{if close 'hide'}}">
    {{#each model.team as |team|}}
        <h1 class="profile-modal__title">{{team.name}}</h1>
        <p>{{team.major}}</p>
    {{/each}}

    <div class="profile-modal--close" {{action 'toggleClose'}}>Close</div>
</div>
