{{yield}}

<div class="modal {{if close 'hide'}}">
    <div class="modal__close" {{action 'toggleClose'}}>
        <p>Through to LBSU Surf {{fa-icon 'arrow-right'}}</p>
    </div>

    <h1 class="modal__title">{{model.title}}</h1>

    <div class="modal__video">
        <iframe src="{{model.url}}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <p class="credit">edited: {{model.credit}}</p>
    <p class="description">{{model.description}}</p>
</div>
