<div class="nav">
    <div class="nav-left">
        {{#link-to 'index' class="nav-logo"}}{{/link-to}}
        <!-- <h1 class="nav-title">LBSU SURF</h1>
        <h1 class="nav-title-bg">LONG BEACH STATE SURF</h1> -->
    </div>

    <div class="nav-image"></div>

    <div class="mobile-nav">
        <button class="nav-right"><i class="nav-icon" {{action "toggleMenu"}}>{{fa-icon "bars"}}</i></button>
        <div class="nav-menu {{if navIsExpanded "is-visible"}}">
            <ul class="nav-toggle">
                <button class="nav-back" {{action "toggleMenu"}}>{{fa-icon "times"}}</button>
                {{#link-to 'team' class="nav-link"}}<li {{action "toggleMenu"}}>TEAM</li>{{/link-to}}
                {{#link-to 'club' class="nav-link"}}<li {{action "toggleMenu"}}>CLUB</li>{{/link-to}}
                {{#link-to 'sponsers' class="nav-link"}}<li {{action "toggleMenu"}}>SUPPORT</li>{{/link-to}}
                {{#link-to 'community' class="nav-link"}}<li {{action "toggleMenu"}}>COMMUNITY</li>{{/link-to}}
                {{#link-to 'contact' class="nav-link"}}<li {{action "toggleMenu"}}>CONTACT</li>{{/link-to}}
                <ul class="nav-social">
                    <li class="nav-social--link"><a href="https://www.facebook.com/search/top/?q=long%20beach%20state%20surf">{{fa-icon 'facebook'}}</a></li>
                    <li class="nav-social--link"><a href="https://www.instagram.com/longbeachstatesurf/">{{fa-icon 'instagram'}}</a></li>
                </ul>
            </ul>
        </div>
    </div>
    <div class="desktop-nav">
        <ul class="nav-row">
            <li {{action "toggleMenu"}}>
                {{#link-to 'team' class="desktop-button"}}TEAM{{/link-to}}
            </li>
            <li class="two" {{action "toggleMenu"}}>
                {{#link-to 'club' class="desktop-button"}}CLUB{{/link-to}}
            </li>
            <li class="three" {{action "toggleMenu"}}>
                {{#link-to 'sponsers' class="desktop-button"}}SUPPORT{{/link-to}}
            </li>
            <li class="four" {{action "toggleMenu"}}>
                {{#link-to 'contact' class="desktop-button"}}CONTACT{{/link-to}}
            </li>
            <hr/>
        </ul>
    </div>
</div>

{{liquid-outlet}}

<div class="footer">
    <p class="footer-info">&copy; Taylor Tobin</p>
    <ul class="footer-links">
        <li class="footer-link"><a href="https://www.facebook.com/search/top/?q=long%20beach%20state%20surf">{{fa-icon 'facebook'}}</a></li>
        <li class="footer-link"><a href="https://www.instagram.com/longbeachstatesurf/">{{fa-icon 'instagram'}}</a></li>
    </ul>
</div>
