<div class="nav">
    <div class="nav-left">
        {{#link-to 'index' class="nav-logo"}}{{/link-to}}
        <!-- <h1 class="nav-title">LBSU SURF</h1>
        <h1 class="nav-title-bg">LONG BEACH STATE SURF</h1> -->
    </div>

    <div class="nav-image"></div>

    <div class="mobile-nav">
        <button class="nav-right" {{action "toggleMenu"}}><i class="nav-icon">&#9776;</i></button>
        <div class="nav-menu {{if navIsExpanded "is-visible"}}">
            <ul class="nav-toggle">
                {{#link-to 'team' class="nav-link"}}<li {{action "toggleMenu"}}>TEAM</li>{{/link-to}}
                {{#link-to 'club' class="nav-link"}}<li {{action "toggleMenu"}}>CLUB</li>{{/link-to}}
                {{#link-to 'sponsers' class="nav-link"}}<li {{action "toggleMenu"}}>SUPPORT</li>{{/link-to}}
                {{#link-to 'contact' class="nav-link"}}<li {{action "toggleMenu"}}>CONTACT</li>{{/link-to}}
                <button class="nav-back" {{action "toggleMenu"}}><i class="nav-arrow">&dHar;</i></button>
            </ul>
        </div>
    </div>
    <div class="desktop-nav">
      <ul class="nav-row">
          {{#link-to 'team' class="desktop-button"}}<li {{action "toggleMenu"}}>TEAM</li>{{/link-to}}
          {{#link-to 'club' class="desktop-button"}}<li {{action "toggleMenu"}}>CLUB</li>{{/link-to}}
          {{#link-to 'sponsers' class="desktop-button"}}<li {{action "toggleMenu"}}>SUPPORT</li>{{/link-to}}
          {{#link-to 'contact' class="desktop-button"}}<li {{action "toggleMenu"}}>CONTACT</li>{{/link-to}}
      </ul>
      <hr>
    </div>
</div>

{{liquid-outlet}}

<div class="footer">
    <p class="footer-info">&copy; Taylor Tobin</p>
    <ul class="footer-links">
        <li class="footer-link"><a href="https://www.facebook.com/search/top/?q=long%20beach%20state%20surf"><img class="footer-image" src="/assets/images/facebook.png"></a></li>
        <li class="footer-link"><a href="https://www.instagram.com/longbeachstatesurf/"><img id="insta" class="footer-image" src="/assets/images/instagram.png"></a></li>
    </ul>
</div>
