{{liquid-outlet}}
<div class="team shadow-top">
    {{profile-modal model=model}}
    <div class="team-profiles">
        <h1 class="team-profiles-title center">The Team</h1>

        {{profile-grid model=model}}

    </div>
    <div class="calendar">
        <h1 class="calendar-title">Event Schedule</h1>
        {{#each model.events as |event|}}
            <h3 class="event__title">{{event.spot}}</h3>
            <p>{{event.location}}</p>
            <p>{{event.date}}</p>
        {{/each}}
    </div>
</div>
