{{liquid-outlet}}
<div class="team shadow-top">
    {{profile-modal model=model}}

    <div class="team-profiles">
        <h1 class="team-profiles-title center">The Team</h1>

        {{profile-grid model=model}}

    </div>
    <div class="events">
        <h1 class="events-title">Event Schedule</h1>
        <ul>
            {{#each model.events as |event|}}
                <li class="event__title">{{event.spot}} <span><i>{{event.date}}</i></span></li>
                    <p>{{event.location}}</p>
            {{/each}}
        </ul>
    </div>
</div>
